/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
**/Assets/AssetStoreTools/**.gitignore
**/Assets/AssetStoreTools/**.meta
.vs/
.gradle/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db